body {
	background-color: #B0C4DE;
	
}

h1 {
	background-color: white;
	text-align: center;
	max-width: 200px;
	border: solid 1px grey;
	border-radius: 5px;
}
.sp {
	color: white;
	font-size: 15px;
	font-weight: bold;
}